{% extends 'base.html' %} {% block content %}
{% if current_user.is_authenticated %}
<h2>Hello, {{ current_user.username }}! <span class="wave">👋🏾</span></h2>
{% else %}
<h2>Hello and Welcome! <span class="wave">👋🏾</span></h2>
{% endif %}
<p>
  Ze Blog is a safe space to explore the thoughts and experiences of fellow
  citizens of the internet, and share yours too.
</p>
<p>
  Authentication is not required to read articles on this blog, but you'll have
  to <a href="{{url_for('login')}}">log in</a> to post, edit or delete your
  articles.
</p>
<br />
<div>
  <a href="{{url_for('contact')}}">
    <img
      src="{{url_for('static', filename='Ze_Austin.jpg')}}"
      class="profile_pic"
      alt="Austin's DP"
      width="300"
    />
  </a>
</div>
<br />
<p>
  Ze Blog is happily hosted by
  <a href="https://www.linkedin.com/in/dr-austin-wopara">Dr Austin Wopara</a>, a
  Backend Engineering student at
  <a href="https://altschoolafrica.com/schools/engineering">AltSchool Africa</a>
  who's learning to create magic with the Python Flask framework. Learn more
  about Ze Austin on <a href="https://github.com/Ze-Austin">GitHub</a> and
  <a href="https://twitter.com/ze_austin">Twitter</a>, or send a message
  <a href="{{url_for('contact')}}">here</a>.
</p>
<br />
{% endblock content %}
